<div>

  <div>
    <p>自分のIPを友達に共有しよう</p>
    <select id="ip" name="ip" size="3" (change)="ipToClipboard($event.target.value)" required>
      <option *ngFor="let ip of ips" value="{{ip}}">{{ip}}</option>
    </select>
  </div>

  <hr>

  <div>
    <label for="host">友達のIPを入力しよう</label>
    <input id="host" name="host" type="text" #host />
    <button type="button" (click)="addPeer(host.value)">追加</button>
  </div>

  <div>
    <label for="host">友達のIPリスト</label>
    <ul>
      <li *ngFor="let peer of peers">{{peer}}</li>
    </ul>
  </div>

</div>
